.image-preview-container, .profile-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.image-preview{
    border: #D84B1E solid 5px;
}
.profile-pic img{
    max-width: 200px;
    border: #D84B1E solid 5px;
    border-radius: 50%;
}
.login-form h4{
    padding: 20px;
}
.credentials ul{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.credentials li{
    display: flex;
    align-items: center;
    gap: 10px;
}