.HulpVragen, .HulpZoeken{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: 1px solid #D84B1E;
    flex-basis: 200px;
    padding: 16px;
    margin: 16px;
    box-shadow: 6px 3px 18px #00000080;
}
.HulpVragen, .HulpZoeken h1{
    padding: 10px;
}
.HulpVragen img{
    max-width: 150px;
}
.HulpZoeken img{
    max-width: 150px;
}
.title-username{
    margin-bottom: 10px;
}
a:link, a:active{
    color: #D84B1E;
    text-decoration: none;
}
a:visited, a:hover {
    color: red;
    text-decoration: none;
}

.vacature-container, .vacature-section{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(187,187,187,1) 100%);
}
.vacature-section{
    padding: 20px;
    display: flex;
}
.search{
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: start;
    border: 1px black solid;
    margin: 16px;
    padding: 16px;

}
.hulpForm p{
    color: white;
}
#vacatures{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
}
.hulpGezocht, .hulpAanbod{
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
}
.full-vac {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 200px;
    gap: 10px;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 2px 2px 15px black;
    background-color: white;
}
.full-vac img{
    max-width: 350px;
}
.respond{
    border: 1px solid #D84B1E;
    align-content: start;
    padding: 10px;
    margin: 10px;
    text-align: start;
}