/*TABLEOFCONTENTS:*/
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@500&family=Bebas+Neue&display=swap');
/*1.GlobalStyles-------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anek Latin', sans-serif;
}
h1{
    font-family: 'Bebas Neue', cursive;
}

/*2.Typography----------*/
h3{
    color: #D84B1E;
}
p{
    font-size: 18px;
}
/*3.Layout--------------*/

/*4.Areas---------------*/
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    padding: 25px;
}
.welcome button{
    margin: 20px
}
button {
    background-color: white;
    font-weight: 600;
    border: 2px solid #D84B1E;
    border-radius: 5px;
    padding: 24px 48px;
    font-size: 20px;
    color: #D84B1E;
    opacity: 1;
    transition: 0.5s;
    box-shadow: 6px 3px 18px #00000080;
}

button:hover {
    opacity: 0.6;
    cursor: pointer;
}

header h1, h1 {
    font-size: 36px;
    color: #D84B1E;
}
.HeaderLogo img{
    max-width: 700px;
}

body{
    text-align: center;
}
.vacature-container, .vacature-section{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(187,187,187,1) 100%);
 }
.vacature-section{
    padding: 20px;
    display: flex;

}
.search{
    text-align: start;
    border: 1px black solid;

}
#vacatures{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px;
}
.hulpGezocht, .hulpAanbod{
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
}
.hulpFormHeader{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 50px;
}
.hulpForm{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.line1{
    z-index: 1;
    border-bottom: 50px solid white;
    border-right: 100vw solid transparent;
}
Header .line1{
    margin-top: 200px;
}
.line2{
    border-bottom: 50px solid black;
    border-right: 100vw solid transparent;
}
.title{
    padding-top: 20px;
}
.image-preview {
    width: 200px;
    display: block;
}


.webdev{
    margin: 40px;
    text-align: start;
}
.webdev section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 100px 0;
}
.webdev section article{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex: 1 0 300px;
    padding: 30px;
    margin: 15px;
    gap: 15px;
    border: 1px solid #00000057;
    box-shadow: 6px 3px 18px #00000080;
}
.webdev img{
    max-width: 50px;
    height: 50px;
}
.webdev h1{
    font-size: 30px;
}
